@charset "UTF-8";

body {
    margin: 0 auto;
    padding: 0 auto;
    font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Brush Script MT', cursive, sans-serif;
}

.container-fluid {
  background: rgba(76, 175, 80, 0.3) ;
/*  position: relative; 
  z-index: 2;*/
}


/*.container-fluid::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url('../img/cubblestone1_1600x1195.jpg');
   opacity: 0.5;
  filter: alpha(opacity=50);
}
*/



/* navigation bar */
.navbar {
       background:  rgba(76, 175, 80, 0.3);
}

.navbar-brand {
  padding: 0px; 
  object-fit: scale-down;
}

.navbar-brand > img {
  height: 100%;
  width: auto;
}

.nav, .navbar-nav , .nav-bar {
    min-height: 100px; 
/*    width: 1024px; */
    margin: 0px 0px auto;
    overflow: auto;
    padding-right: 150px;   
}

.navbar-default .navbar-nav li a { 
  color: #000000;
  text-decoration: none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
background-color: rgba(76, 175, 80, 0.3);
}

.navbar-default .navbar-nav li a:hover {
    background:  rgba(76, 175, 80, 0.3);
    text-decoration: none;
    cursor: pointer; 
}



/* carousel */
.img-responsive{
    display: block;
    height: auto;
    max-width: 150px;
    max-height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    /*min-height: 300px;*/
}

.jumbotron {
  text-align: center; 
  position: relative;
  width:100%;
  height: 100%;
  background-size: auto 100%;
} 

.carousel {
    /*width: 1024px; */
    position: relative; 
    margin: 0 auto;
    background: rgba(76, 175, 80, 0.3) ;
  }

.carousel-inner > .item,
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img  {
  margin: 0 auto;
  background-size: cover;
  width: 90%;  
  height: 325px !important;
} 

.carousel-indicators li {
    width: 10px;
    height: 10px;
    margin: 10px;
  margin-bottom: -20px;
    background-color: rgba(76, 175, 80, 0.3) ;
}

.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 10px;
    margin-bottom: -20px;
    background-color: #ff4c4c;
} 


/* video */
/*.videoContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.videoContainer video {
    max-width: 100%;
    height: 65%;
    width: 65%;    
    margin: 0 auto;
    padding: 0 auto;
}
*/


/* JQuery Accordion Menus */
button.accordion {
    background-color: rgba(76, 175, 80, 0.3) ;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: none;
/*    text-align: left;*/
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    text-align: center;
}

button.accordion.active, button.accordion:hover {
    background-color: #ff4c4c;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 80%;
    margin: 0 auto;
}


/* gallery */
.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}



/* dinnermenu */
.dinnermenu, .winemenu {margin: 0px 40px 0 40px; }
div.menu-item-name, .menu-item-desc {text-align: left;}
div.menu-item-price {text-align: right;}


/* contact us form */
input[type=text], input[type=email], input[type=tel], textarea  {
    width: 80%;
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
}

.input_error {color: #FF0000;}

/* modal */
.modal {
  position: fixed;
  max-width: 100%;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-header
{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
}

/* footer */
footer {
       background:  rgba(76, 175, 80, 0.3);
}


/* media queries */
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(76, 175, 80, 0.3);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

/*    .navbar-brand > img {
      height: 30%;
      width: auto;
    }*/



/* set responsive for the logo */
.logo img {
width: 100% \9; /*Force IE10 and below to size SVG images correctly*/
max-width: 100%;
}

@media (max-width:480px) { 
        .logo img {
            width: 70% \9; /*Force IE10 and below to size SVG images correctly*/
            max-width: 70% !important;
        }
}

@media (max-width:400px) { 
        .logo img {
            width: 75% \9; /*Force IE10 and below to size SVG images correctly*/
            max-width: 75%;
        }
}

@media (max-width:385px) { 
        .logo img {
            width: 70% \9; /*Force IE10 and below to size SVG images correctly*/
            max-width: 70%;
        }
}

@media (max-width:345px) { 
        .logo img {
            width: 65% \9; /*Force IE10 and below to size SVG images correctly*/
            max-width: 65%;
        }
}

@media (max-width:335px) { 
        .logo img {
            width: 60% \9; /*Force IE10 and below to size SVG images correctly*/
            max-width: 60%;
        }
}

@media (max-width:325px) { 
        .logo img {
            width: 55% \9; /*Force IE10 and below to size SVG images correctly*/
            max-width: 55%;
        }
}

@media (max-width:315px) { 
        .logo img {
            width: 50% \9; /*Force IE10 and below to size SVG images correctly*/
            max-width: 50%;
        }
}